.axis {
  stroke: #eff1f4;
  stroke-width: 1;
}

.axisScale {
  fill: #515a6e;
}

.bg-rect {
  fill: #f8f8f9;
}

.time-label {
  font-size: 12px;
}

.no-data-text {
  fill: #373d41;
  font-size: 13px;
}

.intersection-wrapper {
  position: relative;
}

.intersection {
  pointer-events: none;
  width: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.axisUnit {
  font-size: 12px;
  fill: #808695;
}

.label-value {
  margin-left: 5px;
  font-size: 13px;
  color: #808695;
}

.label-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}

.chart-label {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-label-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease;
}

.chartip-header {
  font-weight: bold;
  padding: 5px;
}

.chartip-content-group {
  display: flex;
  align-items: center;
}

.chartip-content {
  display: flex;
  padding: 0px 5px 5px 5px;
}

.chartip-label {
  width: 8px;
  height: 8px;
  border-radius: 2px;
}

/* trend start */

.trend-title-group,
.trend-status-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.trend-title {
  font-size: 15px;
  font-weight: bold;
}

.trend-status {
  margin-left: 13px;
  font-size: 12px;
  color: #fff;
  padding: 2px 5px;
  transition: all 0.1s ease;
}

.trend-tip {
  margin-left: 10px;
  font-size: 13px;
  color: #515a6e;
}

/* trend end */