.axis {
  stroke: #eff1f4;
  stroke-width: 1;
}

.axisScale {
  fill: #515a6e;
}

.bg-rect {
  fill: #f9f9f9;
}

.time-label {
  font-size: 12px;
}

.no-data-text {
  fill: #373d41;
  font-size: 13px;
}

.intersection {
  pointer-events: none;
}