body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar{
  width: 0 !important
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

.modal-title-icon {
  font-size: 15px;
  margin-right: 5px;
}

.modal-content {
  min-height: 120px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal-title-close {
  color: white;
  font-size: 19px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  margin-top: 8px;
  margin-right: 5px;
  z-index: 999;
}

.x-body {
  display: flex;
}

.detail-content {
  margin: 10px 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
}

.x-dropdown-li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
}

.x-dropdown-li:hover {
  background-color: #eff1f4;
}

.x-dropdown-li.selected {
  background-color: #eff1f4;
}

.section-title {
  font-weight: bold;
  text-align: left;
  font-family: Avenir,Helvetica,Arial,sans-serif;
}

.pagination {
  margin-top: 15px;
  text-align: right;
}

/* self-tag */

.tag-group {
  display: flex;
  margin-left: 20px;
  position: absolute;
  right: 20px;
}

.tag {
  padding: 3px 8px;
  margin: 2px 0 2px 4px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}

.tag.tag-selected {
  transition: all 0.1s ease-in;
  background-color: #2376b7;
  color: #fff;
}