.ivu-modal-header {
  background-color: #4d4565;
  color: white;
  height: 52px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ivu-modal-close .modal-title-close:hover {
  color: #808695;
}

.agent-selector .ivu-select-selection .ivu-select-input,
.agent-selector.ivu-select-single .ivu-select-selection .ivu-select-selected-value,
.agent-selector.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.agent-selector .ivu-select-dropdown .ivu-select-not-found {
  font-size: 12px;
}

.upload-button .ivu-upload-list {
  margin-top: 0;
}

.agent-selector
  .ivu-select-dropdown
  .ivu-select-dropdown-list
  .ivu-select-item {
  font-size: 12px !important;
}

.agent-selector
  .ivu-select-dropdown
  .ivu-select-dropdown-list
  .ivu-select-item-selected {
  color: #2376b7;
  /* background-color: #f3f3f3; */
  display: flex;
  align-items: center;
}

.agent-selector
  .ivu-select-dropdown
  .ivu-select-dropdown-list
  .ivu-select-item::after {
  font-family: "Ionicons";
  content: "\F171";
  margin-left: 10px;
  width: 100%;
  opacity: 0;
}

.agent-selector
  .ivu-select-dropdown
  .ivu-select-dropdown-list
  .ivu-select-item-selected::before {
  font-family: "Ionicons";
  font-size: 24px;
  content: "\F171";
  position: absolute;
  right: 6px;
}

.instance-tab .ivu-tabs-nav .ivu-tabs-tab .ivu-icon {
  font-size: 15px;
  margin-right: 2px;
}

.x-modal .ivu-modal-body{
  padding: 0;
}

.pagination .ivu-page-item-active a,
.pagination .ivu-page-item:hover a {
  color: #2d8cf0;
}

.x-alert.ivu-alert-info {
  border: 1px solid rgb(33, 150, 243);
  background-color: rgb(33, 150, 243, 0.1);
}

.x-alert.ivu-alert-error {
  border: 1px solid rgb(227, 57, 0);
  background-color: rgb(227, 57, 0, 0.1);
}

.x-alert.ivu-alert-warning {
  border: 1px solid #f89501;
  background-color: rgb(219, 124, 0, 0.1);
}

.x-alert.ivu-alert-success {
  border: 1px solid rgb(25, 190, 107);
  background-color: rgb(25, 190, 107, 0.1);
}

.agent-selector .ivu-select-dropdown, .file-filter .ivu-select-dropdown {
  max-height: 500px;
}

.opt-group .ivu-btn-default,
.opt-group .ivu-btn-default:hover,
.opt-group .ivu-btn-default:active {
  border-color: #f89501;
  color: #f89501;
}

.opt-group .ivu-btn-default:focus{
  -webkit-box-shadow: 0 0 0 2px rgba(248, 149, 1, 0.2);
  box-shadow: 0 0 0 2px rgba(248, 149, 1, 0.2);
}

.opt-group .ivu-btn-info {
  background-color: #2689d6;
  border-color: #2689d6;
}

.opt-group .ivu-btn-success{
  background-color: #38a956;
  border-color: #38a956;
}

.diag-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border-radius: 0;
  background: #fff;
  font-family: Avenir,Helvetica,Arial,sans-serif;
}
.diag-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  border-top: 1px solid #c45a65;
  border-left: 1px solid #c45a65;
  border-right: 1px solid #c45a65;
  color: #c45a65;
}

.diag-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  margin-right: 7px;
}

.ivu-radio > .ivu-radio-inner {
  width: 14px;
  height: 14px;
}

.ivu-radio.ivu-radio-checked:hover > .ivu-radio-inner,
.ivu-radio.ivu-radio-checked > .ivu-radio-inner {
border-color: #2d8cf0;
}

.ivu-radio > .ivu-radio-focus {
  box-shadow: unset;
}

.ivu-radio.ivu-radio-checked > .ivu-radio-focus {
  box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}

.ivu-radio > .ivu-radio-inner:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ivu-radio-checked > .ivu-radio-inner:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2d8cf0;
}

.ivu-radio-group > .ivu-radio-wrapper {
  margin-right: 9px;
}