.snap-addr,
.snap-detial,
.snap-quto {
  color: #808080;
}

.snap-name {
  color: #303942;
}

.snap-hidden {
  color: #606266;
}

.snap-closure {
  font-style: italic;
}

.snap-gcroot {
  background-color: #c0eafd;
  font-style: italic;
  padding: 0 2px;
}

.snap-property {
  color: rgb(136, 19, 145)
}

.snap-context {
  color: rgb(28, 0, 207)
}