/* enter-active */
.slide-button-enter-active,
.slide-noward-enter-active,
.slide-downward-enter-active,
.slide-upward-enter-active,
.slide-rightward-enter-active,
.slide-enter-active {
  transition: all 0.3s ease;
}

.slide-router-enter-active {
  transition: all 0.5s ease;
}


/* enter */
.slide-enter {
  /* transform: rotate(20deg); */
  /* transform: scale(.8); */
  /* transform: skewX(-5deg); */
  /* transform: perspective(300px) rotateX(-10deg); */
  transform: translateX(-5px);
  opacity: 0;
}

.slide-downward-enter {
  transform: translateY(-5px);
  opacity: 0;
}

.slide-rightward-enter {
  transform: translateX(5px);
  opacity: 0;
}

.slide-upward-enter {
  transform: translateY(5px);
  opacity: 0;
}

.slide-button-enter,
.slide-button-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-router-enter,
.slide-noward-enter {
  transform: translateX(0px);
  opacity: 0;
}


/* leave-active */
.slide-button-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}


/* leave */
.slide-downward-leave,
.slide-noward-leave,
.slide-upward-leave,
.slide-rightward-leave,
.slide-router-leave,
.slide-leave {
  display: none;
}


/* drawer */
.drawer-enter {
  opacity: 0;
}

.drawer-enter-active {
  transition: opacity 0.3s ease;
}

.drawer-leave {
  opacity: 1;
}

.drawer-leave-active {
  transition: opacity 0.3s ease;
}

.drawer-leave-to {
  opacity: 0;
}

.drawer-container-enter {
  opacity: 0.5;
  transform: translateX(calc(50vw - 70px));
}

.drawer-container-enter-active {
  transition: all 0.3s ease;
}

.drawer-container-leave {
  opacity: 1;
  transform: translateX(0);
}

.drawer-container-leave-active {
  transition: all 0.3s ease;
}

.drawer-container-leave-to {
  opacity: 0.5;
  transform: translateX(calc(50vw - 70px));
}
/* drawer end */

/* modal content */
.modal-content-enter {
  opacity: 0;
}

.modal-content-enter-active {
  transition: all 0.3s ease;
}

.modal-content-leave {
  opacity: 1;
}

.modal-content-leave-active {
  transition: all 0.3s ease;
}

.modal-content-leave-to {
  opacity: 0;
}

/* modal content end */