@import '~view-design/src/styles/index.less';

// color
@primary-color          : #41395b;
@info-color             : #2376b7;
@success-color          : #6f8657;
@warning-color          : #c45a65;
@error-color            : #94232d;
@link-color             : #2376b7;
@tooltip-color          : #ccccd6;
@subsidiary-color       : #0f0e0e;
@rate-star-color        : #c45a65;
@white: #ccccd6;
@black: #0f1423;

// base
@border-radius-base     : 0px;
@border-radius-small    : 0px;

// button
@btn-border-radius      : 0px;
@btn-border-radius-small: 0px;